*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.topBar{
    text-align: center;
    height: 70px;
    width: 100%;
    border: solid transparent 1px;
    background-color:lightyellow;
    color: darkred;
    font-family: 'Times New Roman';
    z-index: 1;
}
.innerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}
table{
    border-collapse: collapse;
    border: white 1px solid;
    table-layout: fixed;
}
th{
    background-color:darkred;
    color: whitesmoke;
    padding: 5px;
}
td{
    background-color:ghostwhite;
    color: darkred;
    padding: 5px;
    text-align: center;
    word-wrap:break-word;
    
}
textarea{
    background-color: ghostwhite;
    color: darkred;
    height: 100%;
    border: transparent 1px solid;

}
td input{
    background: rgb(165, 1, 1);
    border: transparent solid 1px;
    color: whitesmoke;
    font-weight: bolder;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.nameInput{
    background-color: darkgray;
    height: 30px;
    border-color: transparent;
    width: 100%;
    border-radius: 7px;   
}
.save{
    border:1px solid transparent;
    color: white;
    height: 35px;
    width: 65px;
    text-align: center;
    background-color: darkred;
}
.save:active{
    background-color: darkgrey;
}
.save:disabled{
    color:white;
    background-color: rgba(139, 0, 0, 0.562);
}
.update{
    border:1px solid transparent;
    
    color: black;
    height: 30px;
    width: 50px;
    text-align: center;
}
.update:active{
    background-color: darkgrey;
}
.update:disabled{
    color:white;
}
.name{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    height: 100px;
    position: absolute;
}
.name button{
    margin-top: 10px;
    margin-right: 0px;
}
td button{
    margin-left:5px ;
    margin-right: 5px;
    border: transparent solid 1px;
}
.output{
    margin-top: 4%;
    height: 100%;
    overflow-y: scroll;
}
.inputTable{
    margin-top: 100px;
}
.submark{
    width: 50px;
}
.save .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
.save .tooltiptext:hover{
    visibility: visible;
    opacity: 1;
  }
