*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.topBar{
    text-align: center;
    height: 70px;
    width: 100%;
    border: solid transparent 1px;
    background-color:lightyellow;
    color: darkred;
    font-family: 'Times New Roman';
    z-index: 1;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    justify-content: center;
}
.innerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    border-right:transparent solid 1px;
    border-left: transparent solid 1px;
    border: white 1px solid;
    table-layout: fixed;
}
th{
    background-color:darkred;
    color: whitesmoke;
    padding: 5px;
}
td{
    background-color:ghostwhite;
    color: darkred;
    padding: 5px;
    text-align: center;
    word-wrap:break-word;
}
textarea{
    background-color: ghostwhite;
    color: darkred;
    height: 100%;
    border: transparent 1px solid;
}
td input{
    background: rgb(165, 1, 1);
    border: transparent solid 1px;
    color: whitesmoke;
    font-weight: bolder;
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.nameInput{
    background-color: darkgray;
    height: 30px;
    border-color: transparent;
    width: 100%;
    border-radius: 7px;   
}
.save{
    border:1px solid transparent;
    color: white;
    height: 35px;
    width: 65px;
    text-align: center;
    background-color: darkred;
}
.save:active{
    background-color: darkgrey;
}
.save:disabled{
    color:white;
    background-color: rgba(139, 0, 0, 0.562);
}
.update{
    border:1px solid transparent;
    color: black;
    height: 30px;
    width: 50px;
    text-align: center;
}
.update:active{
    background-color: darkgrey;
}
.update:disabled{
    color:white;
}
.name{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    height: 100px;
    position: absolute;
}
.name button{
    margin-top: 10px;
    margin-right: 0px;
}
td button{
    margin-left:5px ;
    margin-right: 5px;
    border: transparent solid 1px;
}
.output{
    margin-top: 1%;
    height: 450px;
    margin-right: 10px;
    margin-left: 250px;
    
}
.viewTable{
    table-layout: fixed;
    margin-right: 0px;
    position: relative;
    overflow-y: scroll;
}
.viewTable th{
    position: sticky;
}

.inputTable{
    margin-top: 100px;
}
.submark{
    width: 50px;
}
h3{
    width: 50px;
    border: transparent solid;
    background-color: transparent;
    font-weight: bolder;
    color: white;
}
h3 input{
    width: 50px;
    border: transparent solid;
    background-color: transparent;
    font-weight: bolder;
    color: white;
}
.title th button{
    color: white;
    background-color: transparent;
    border: transparent solid;
    margin: 0px;
    font-weight: bolder;
}
.tableHeader th{
    width: 72px;
}
.tableBody td{
    width: 72px;
    border: white solid 1px;
    padding: 3px;
}
.tableBody {
    height: 440px;
    overflow-y: auto;
}
