/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url(https://wallpapercave.com/wp/wp3269205.jpg);
    margin: 0px;
    height:100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}